<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jst.jsf.common.symbolSourceProvider">
      <symbolSourceId
            factory="jsfca.SpringBeanProviderFactory">
      </symbolSourceId>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="jsfca.preferences.JsfcaPreferencePage"
            id="jsfca.preferences.JsfcaPreferencePage"
            name="Jsf Content Assist">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="jsfca.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
